@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

body {
  margin: auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 90vw;
  height: 100vh;
}

header div {
  flex-basis: 40%;
}

header img {
  flex-basis: 60%;
}

h1 {
  text-align: center;
  color: #8cab5c;
  font-family: "Bubblegum Sans", cursive;
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.btn-cta {
  background-color: #db5d43;
  color: white;
}

.profile-photo {
  width: 100px;
  height: 100px;
  box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3),
    5px 5px 5px rgba(0, 0, 0, 0.3);
}

.image-input {
  min-height: 100px;
}
