@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

:root {
  --primary: #8cab5c;
  --primary-dark: #627740;
  --primary-light: #c5d5ad;
  --secondary: #db5d43;
  --secondary-dark: #99412e;
  --secondary-light: #e99d8e;
}

body {
  margin: auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 90vw;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  align-content: space-between;
}

header div,
header figure {
  flex-basis: 100%;
}

header img {
  width: 70%;
}

h1 {
  text-align: center;
  color: var(--primary);
  font-family: "Bubblegum Sans", cursive;
  text-transform: uppercase;
}

h2 {
  color: var(--secondary);
}

.btn {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.btn-cta {
  background-color: var(--secondary);
  color: white;
}

.btn-submit {
  color: white;
  background-color: var(--primary-dark);
}

.profile-photo {
  width: 100px;
  height: 100px;
  box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3),
    5px 5px 5px rgba(0, 0, 0, 0.3);
}

.profile-photo-navbar {
  width: 30px;
  height: 30px;
}

.image-input {
  min-height: 100px;
}

.smaller-image {
  width: 90%;
  max-width: 500px;
}

.message {
  gap: 3em;
}

.message-image {
  width: 90%;
  max-width: 300px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  height: 4em;
}

footer img {
  width: 25px;
  transform: translateY(2%);
}

footer p {
  margin-bottom: 0;
}

@media screen and (min-width: 900px) {
  header div {
    flex-basis: 40%;
  }

  header figure {
    flex-basis: 60%;
  }

  header img {
    width: 90%;
  }
}
